body{
    background-color: #b3c7f7;
    color:black;
}

h1{
    font-size: 36px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

h2{
    font-size: 24px;
    font-family:'Courier New', Courier, monospace;
    color: black;
    margin: 20px;
}

h3{
    font-size: 18px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    margin:20px;
}

p{
    line-height: 2pc;
    margin-left: 20px;
}

img{
    border: 5px solid white;
    padding: 1px;
    margin: 20px;
    border-top-right-radius: 30px;
}

figcaption{
    margin: 20px;
}


ul{
    display: flex;
    justify-content: space-between;
}

nav{
    border: 2px solid black;
    padding: 10px;
}

nav a{
    background-color: black;
    color: white;
    padding: 5px;
    margin: 20px;
    border: 2px solid white;
}

#skip{
    text-transform:uppercase;
    margin: 20px;
}
.thumbnail{
    display: block;
    border:5px solid white;
    margin: auto;
    width: 450px;
}
